<VirtualHost *:80>
    ServerName https://{{server_name}}
    UseCanonicalName On
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Proxy *>
        AuthType shibboleth
        ShibRequestSetting requireSession true
        Require shibboleth
    </Proxy>

    ProxyRequests Off
    ProxyPreserveHost On
    ProxyPass / http://{{ lookup('env', 'TEAM_1_PORT_8080_TCP_ADDR') }}:{{ lookup('env', 'TEAM_1_PORT_8080_TCP_PORT') }}/
    ProxyPassReverse / http://{{ lookup('env', 'TEAM_1_PORT_8080_TCP_ADDR') }}:{{ lookup('env', 'TEAM_1_PORT_8080_TCP_PORT') }}/
    RequestHeader unset Accept-Encoding
    AddOutputFilterByType SUBSTITUTE text/html
    Substitute "s|http://{{server_name}}|https://{{server_name}}|ni"
</VirtualHost>